
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --address-color: rgba(255,255,255,0.6);
    --additional-text-color: #000;
    --accent-color: #2196f3;
    --primary-background-color: #fff;
    --secondary-background-color: #2f303a;
    --additional-background-color: #f5f4fa;
    --button-background-color: #188ce8;
    --primary-font-weight: 700;
    --secondary-font-weight: 500;
}

.reset { list-style-type: none; }

.link { text-decoration: none; }

body {
    margin: 0;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: .03em;
    background-color: var(--primary-background-color);
}

header {
    border-bottom: 1px solid #ECECEC;
}


.main-header {
    display: flex;

}

.page-header {
    display: flex;
    align-items: center;
}



h1, 
h2,
h3,
h4,
h5,
h6, 
p, 
ul
{
    margin-top: 0;
    margin-bottom: 0;
}

.section-title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}


/* задаю container */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.primary-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;

    font-family: inherit;
    font-weight: var(--primary-font-weight);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: .06em;
    cursor: pointer;
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

.primary-button:hover,
.primary-button:focus {
    color: var(-primary-background-color);
    background-color: var(--button-background-color);
}

.secondary-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: 0;
    font-family: inherit;
    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color: var(--additional-background-color);
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

/* Логотип сайту */
.logo-link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25;
}

.logo-web {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

.logo-studio {
    font-family: Raleway, sans-serif;
    font-weight: var(--primary-font-weight);
    font-size: 26px;
    line-height: 1.2;
    color: var(--additional-text-color);
}

/* Навігація сайту */

.nav-header {
    display: flex;
    margin-right: 331px;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 
    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .02em;
    color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Контакти */

.contacts-div {
    display: flex;
}

.site-contacts {
    display: flex;

}

.site-contacts .item + .item {
    margin-left: 50px;
}

.site-contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .02em;
    color: var(--primary-text-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}

/* Секції */

.section,
.section-team {
    margin-top: 0;
    margin-bottom: 0;
   
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;

    font-weight: var(--primary-font-weight);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-text-color);
}

/* Герой */

.hero { 
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--secondary-background-color); 
    text-align: center;
  
}

.hero-title {
    margin-bottom: 30px;

    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: var(--primary-background-color);
}
/* Фільтри */
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;

}

.filters-list {
    display: flex;
}

.filters-list .item + .item {
    margin-left: 8px;
}

/* Список робіт */
.works-examples {
    display: flex;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    padding: 0;
}

.work-list .item {
    width: 370px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
}

.works-list .item:nth-child(3n + 1) {
    margin-left: 0;
}

.works-list:nth-last-child(n + 7) {
    margin-bottom: 0;
}

/* .works-list:nth-child(3n) {
    margin-right: 0;
} */

.works-desc {
    margin: 20px 24px;
}

/* Особливості */

.features-list {
    display: flex;
}

.features-list .item + .item {
    margin-left: 30px;
}

.features-list .title {
    margin-bottom: 10px;

    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.features-list .text {
    font-size: 14px;
    line-height: 1.7;
}

/* Команда */

.section-team { background-color: var(--additional-background-color); 
padding-top: 94px;
padding-bottom: 94px;
}

.team-list { 
    display: flex;

    background-color: var(--primary-background-color); 
}

.team-list .item + .item {
margin-left: 30px;
}

.team-photo {
    margin-bottom: 30px;
}

.team-list .title {
    margin-bottom: 20px;

    font-weight: var(--secondary-font-weight);
    font-size: 16px;
    line-height: 1.18px;
    text-align: center;
    color: var(--secondary-text-color);
}

.team-list .text {
    margin-bottom: 30px;
}


.img-description .title {
    /* margin-bottom: 10px; */
}
.team-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18px;
    text-align: center;
}
/* Роботи */

.works-list .title {
    font-weight: var(--primary-font-weight);
    font-size: 18px;
    line-height: 2;
    letter-spacing: .06em;
    color: var(--secondary-text-color);
}

.work-list {
    display: flex;
}

.work-list .item + .item {
    margin-left: 30px;
}

.work-list .text {
    font-size: 16px;
    line-height: 31.8;
}

/* Футер */
footer {
background-color: var(--secondary-background-color);
}

.footer {
    padding: 60px 0;
    font-style: normal;

}

/* Логотип футеру */

.footer .logo-studio { color: var(--primary-background-color); }

/* Адреси */

.address {
    padding-left: 0;
    margin-top: 20px;
}

.address .item + .item {
    margin-top: 9px;
}

.physical-address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-background-color);
}

.address .link {

    font-size: 14px;
    line-height: 1.71;
    color: var(--address-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}